################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureWebApp/EExplicador_Xamarin_Forms/.vs/EExplicador/v14/.suo
/AzureWebApp/EExplicador_Xamarin_Forms/UWP/bin/x86/Debug
/AzureWebApp/EExplicador_Xamarin_Forms/UWP/obj/x86/Debug
/AzureWebApp/EExplicador_Xamarin_Forms/WinApp/obj
/AzureWebApp/EExplicador_Xamarin_Forms/WinPhone81/obj/x86/Debug
/AzureWebApp/EExplicador_Xamarin_Forms/WinPhone81/EExplicador.WinPhone81.csproj.user
/AzureWebApp/EExplicador_Xamarin_Forms/EExplicador.v12.suo
/AzureWebApp/EExplicador_Xamarin_Forms/iOS/obj
/AzureWebApp/EExplicador_Xamarin_Forms/Droid/obj/Debug
/AzureWebApp/EExplicador_Xamarin_Forms/Droid/EExplicador.Droid.csproj.user
/AzureWebApp/EExplicador_Xamarin_Forms/Droid/EExplicador.Droid.csproj.bak
/AzureWebApp/EExplicador_Xamarin_Forms/EExplicador/obj/Debug
/AzureWebApp/EExplicador_Xamarin_Forms/EExplicador/bin/Debug
/AzureWebApp/EExplicador_Xamarin_Forms/iOS/EExplicador.iOS.csproj.user
/AzureWebApp/EExplicador_Xamarin_Forms/packages
