################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureWebApp/EExplicador_Xamarin_Forms/.vs/EExplicador/v14/.suo
